corenlp/stanford-corenlp-full-2018-02-27/pom.xml
corenlp/stanford-corenlp-full-2018-02-27/patterns/stopwords.txt
corenlp/stanford-corenlp-full-2018-02-27/patterns/presidents.txt
corenlp/stanford-corenlp-full-2018-02-27/patterns/places.txt
corenlp/stanford-corenlp-full-2018-02-27/patterns/otherpeople.txt
corenlp/stanford-corenlp-full-2018-02-27/patterns/names.txt
corenlp/stanford-corenlp-full-2018-02-27/patterns/goldplaces.txt
corenlp/stanford-corenlp-full-2018-02-27/patterns/goldnames.txt
corenlp/stanford-corenlp-full-2018-02-27/SemgrexDemo.java
corenlp/stanford-corenlp-full-2018-02-27/.settings/org.eclipse.jdt.core.prefs
corenlp/stanford-corenlp-full-2018-02-27/.project
corenlp/stanford-corenlp-full-2018-02-27/.classpath
TimesForAlgorithmChanges.txt
DataSizesForMatrixInsertions.txt.orig
DataSizesForMatrixInsertions.txt
.vscode/launch.json
.babelrc
corenlp/stanford-corenlp-full-2018-02-27/tokensregex/color.rules.txt
corenlp/stanford-corenlp-full-2018-02-27/tokensregex/color.properties
corenlp/stanford-corenlp-full-2018-02-27/tokensregex/color.input.txt
corenlp/stanford-corenlp-full-2018-02-27/test.properties
corenlp/stanford-corenlp-full-2018-02-27/sutime/spanish.sutime.txt
corenlp/stanford-corenlp-full-2018-02-27/sutime/english.sutime.txt
corenlp/stanford-corenlp-full-2018-02-27/sutime/english.holidays.sutime.txt
corenlp/stanford-corenlp-full-2018-02-27/sutime/defs.sutime.txt
corenlp/stanford-corenlp-full-2018-02-27/patterns/example.properties
corenlp/stanford-corenlp-full-2018-02-27/input.txt
corenlp/stanford-corenlp-full-2018-02-27/RESOURCE-LICENSES
corenlp/stanford-corenlp-full-2018-02-27/README.txt
corenlp/stanford-corenlp-full-2018-02-27/Makefile
corenlp/stanford-corenlp-full-2018-02-27/LICENSE.txt
corenlp/stanford-corenlp-full-2018-02-27/LIBRARY-LICENSES
corenlp/stanford-corenlp-full-2018-02-27/CoreNLP-to-HTML.xsl
corenlp/stanford-corenlp-full-2018-02-27/.settings/org.eclipse.m2e.core.prefs
corenlp/stanford-corenlp-full-2018-02-27/sutime/british.sutime.txt
corenlp/stanford-corenlp-full-2018-02-27/stanford-corenlp-3.9.1.jar
corenlp/stanford-corenlp-full-2018-02-27/stanford-corenlp-3.9.1-sources.jar
corenlp/stanford-corenlp-full-2018-02-27/stanford-corenlp-3.9.1-models.jar
corenlp/stanford-corenlp-full-2018-02-27/stanford-corenlp-3.9.1-javadoc.jar
corenlp/stanford-corenlp-full-2018-02-27/slf4j-simple.jar
corenlp/stanford-corenlp-full-2018-02-27/slf4j-api.jar
corenlp/stanford-corenlp-full-2018-02-27/protobuf.jar
corenlp/stanford-corenlp-full-2018-02-27/jollyday.jar
corenlp/stanford-corenlp-full-2018-02-27/jollyday-0.4.9-sources.jar
corenlp/stanford-corenlp-full-2018-02-27/joda-time.jar
corenlp/stanford-corenlp-full-2018-02-27/joda-time-2.9-sources.jar
corenlp/stanford-corenlp-full-2018-02-27/javax.json.jar
corenlp/stanford-corenlp-full-2018-02-27/javax.json-api-1.0-sources.jar
corenlp/stanford-corenlp-full-2018-02-27/input.txt.xml
testingonly.py
test.py.orig
package-lock.json
nlpChanges.txt
mongodbStart.txt
jsconfig.json
index.js
corenlp/stanford-corenlp-full-2018-02-27/xom.jar
corenlp/stanford-corenlp-full-2018-02-27/xom-1.2.10-src.jar
corenlp/stanford-corenlp-full-2018-02-27/tokensregex/retokenize.txt
corenlp/stanford-corenlp-full-2018-02-27/ejml-0.23.jar
corenlp/stanford-corenlp-full-2018-02-27/ejml-0.23-src.zip
corenlp/stanford-corenlp-full-2018-02-27/corenlp.sh
corenlp/stanford-corenlp-full-2018-02-27/build.xml
corenlp/stanford-corenlp-full-2018-02-27/StanfordDependenciesManual.pdf
corenlp/stanford-corenlp-full-2018-02-27/StanfordCoreNlpDemo.java
corenlp/stanford-corenlp-full-2018-02-27/ShiftReduceDemo.java
test.js.orig
startCoreNLPServer.txt
package.json
NodeLanguageApp - Important Webpages/pattern.en - CLiPS.url
NodeLanguageApp - Important Webpages/corenlp - npm.url
NodeLanguageApp - Important Webpages/Home - Documentation.url
NodeLanguageApp - Important Webpages/Penn Treebank II tag set - CLiPS.url
NodeLanguageApp - Important Webpages/Stanford CoreNLP.url
NodeLanguageApp - Important Webpages/scikit-learn- machine learning in Python — scikit-learn 0.19.1 documentation.url
sampleSentencesReal.txt
sampleSentencesFake.txt
.vscode/.ropeproject/config.py
sampleSentencesReal2.txt
differencesBasedOnR2.txt
sampleSentencesFake2.txt
NodeLanguageApp - Important Webpages/opennlp-sandbox-opennlp-similarity at master · apache-opennlp-sandbox.url
NodeLanguageApp - Important Webpages/relevance-based-on-parse-trees-MachineLearningSyntParseTreesGalitsky.pdf at master · bgalitsky-relevance-based-on-parse-trees.url
NodeLanguageApp - Important Webpages/relevance-based-on-parse-trees-Inferring_sem_prop_of_sentences.pdf at master · bgalitsky-relevance-based-on-parse-trees.url
struct3.py
struct2.py
matrix.js
rows.py
