corenlp/stanford-corenlp-full-2018-02-27/pom.xml
corenlp/stanford-corenlp-full-2018-02-27/patterns/stopwords.txt
corenlp/stanford-corenlp-full-2018-02-27/patterns/presidents.txt
corenlp/stanford-corenlp-full-2018-02-27/patterns/places.txt
corenlp/stanford-corenlp-full-2018-02-27/patterns/otherpeople.txt
corenlp/stanford-corenlp-full-2018-02-27/patterns/names.txt
corenlp/stanford-corenlp-full-2018-02-27/patterns/goldplaces.txt
corenlp/stanford-corenlp-full-2018-02-27/patterns/goldnames.txt
corenlp/stanford-corenlp-full-2018-02-27/SemgrexDemo.java
corenlp/stanford-corenlp-full-2018-02-27/.settings/org.eclipse.jdt.core.prefs
corenlp/stanford-corenlp-full-2018-02-27/.project
corenlp/stanford-corenlp-full-2018-02-27/.classpath
TimesForAlgorithmChanges.txt
DataSizesForMatrixInsertions.txt.orig
DataSizesForMatrixInsertions.txt
.vscode/launch.json
.babelrc
corenlp/stanford-corenlp-full-2018-02-27/tokensregex/color.rules.txt
corenlp/stanford-corenlp-full-2018-02-27/tokensregex/color.properties
corenlp/stanford-corenlp-full-2018-02-27/tokensregex/color.input.txt
corenlp/stanford-corenlp-full-2018-02-27/test.properties
corenlp/stanford-corenlp-full-2018-02-27/sutime/spanish.sutime.txt
corenlp/stanford-corenlp-full-2018-02-27/sutime/english.sutime.txt
corenlp/stanford-corenlp-full-2018-02-27/sutime/english.holidays.sutime.txt
corenlp/stanford-corenlp-full-2018-02-27/sutime/defs.sutime.txt
corenlp/stanford-corenlp-full-2018-02-27/patterns/example.properties
corenlp/stanford-corenlp-full-2018-02-27/input.txt
corenlp/stanford-corenlp-full-2018-02-27/RESOURCE-LICENSES
corenlp/stanford-corenlp-full-2018-02-27/README.txt
corenlp/stanford-corenlp-full-2018-02-27/Makefile
corenlp/stanford-corenlp-full-2018-02-27/LICENSE.txt
corenlp/stanford-corenlp-full-2018-02-27/LIBRARY-LICENSES
corenlp/stanford-corenlp-full-2018-02-27/CoreNLP-to-HTML.xsl
corenlp/stanford-corenlp-full-2018-02-27/.settings/org.eclipse.m2e.core.prefs
corenlp/stanford-corenlp-full-2018-02-27/sutime/british.sutime.txt
corenlp/stanford-corenlp-full-2018-02-27/stanford-corenlp-3.9.1.jar
corenlp/stanford-corenlp-full-2018-02-27/stanford-corenlp-3.9.1-sources.jar
corenlp/stanford-corenlp-full-2018-02-27/stanford-corenlp-3.9.1-models.jar
corenlp/stanford-corenlp-full-2018-02-27/stanford-corenlp-3.9.1-javadoc.jar
corenlp/stanford-corenlp-full-2018-02-27/slf4j-simple.jar
corenlp/stanford-corenlp-full-2018-02-27/slf4j-api.jar
corenlp/stanford-corenlp-full-2018-02-27/protobuf.jar
corenlp/stanford-corenlp-full-2018-02-27/jollyday.jar
corenlp/stanford-corenlp-full-2018-02-27/jollyday-0.4.9-sources.jar
corenlp/stanford-corenlp-full-2018-02-27/joda-time.jar
corenlp/stanford-corenlp-full-2018-02-27/joda-time-2.9-sources.jar
corenlp/stanford-corenlp-full-2018-02-27/javax.json.jar
corenlp/stanford-corenlp-full-2018-02-27/javax.json-api-1.0-sources.jar
corenlp/stanford-corenlp-full-2018-02-27/input.txt.xml
testingonly.py
test.py.orig
package-lock.json
nlpChanges.txt
mongodbStart.txt
jsconfig.json
index.js
corenlp/stanford-corenlp-full-2018-02-27/xom.jar
corenlp/stanford-corenlp-full-2018-02-27/xom-1.2.10-src.jar
corenlp/stanford-corenlp-full-2018-02-27/tokensregex/retokenize.txt
corenlp/stanford-corenlp-full-2018-02-27/ejml-0.23.jar
corenlp/stanford-corenlp-full-2018-02-27/ejml-0.23-src.zip
corenlp/stanford-corenlp-full-2018-02-27/corenlp.sh
corenlp/stanford-corenlp-full-2018-02-27/build.xml
corenlp/stanford-corenlp-full-2018-02-27/StanfordDependenciesManual.pdf
corenlp/stanford-corenlp-full-2018-02-27/StanfordCoreNlpDemo.java
corenlp/stanford-corenlp-full-2018-02-27/ShiftReduceDemo.java
test.js.orig
startCoreNLPServer.txt
package.json
NodeLanguageApp - Important Webpages/pattern.en - CLiPS.url
NodeLanguageApp - Important Webpages/corenlp - npm.url
NodeLanguageApp - Important Webpages/Home - Documentation.url
NodeLanguageApp - Important Webpages/Penn Treebank II tag set - CLiPS.url
NodeLanguageApp - Important Webpages/Stanford CoreNLP.url
NodeLanguageApp - Important Webpages/scikit-learn- machine learning in Python — scikit-learn 0.19.1 documentation.url
sampleSentencesReal.txt
sampleSentencesFake.txt
.vscode/.ropeproject/config.py
sampleSentencesReal2.txt
differencesBasedOnR2.txt
sampleSentencesFake2.txt
NodeLanguageApp - Important Webpages/opennlp-sandbox-opennlp-similarity at master · apache-opennlp-sandbox.url
NodeLanguageApp - Important Webpages/relevance-based-on-parse-trees-MachineLearningSyntParseTreesGalitsky.pdf at master · bgalitsky-relevance-based-on-parse-trees.url
NodeLanguageApp - Important Webpages/relevance-based-on-parse-trees-Inferring_sem_prop_of_sentences.pdf at master · bgalitsky-relevance-based-on-parse-trees.url
struct3.py
struct2.py
matrix.js
rows.py
Important Webpages/scikit-learn- machine learning in Python — scikit-learn 0.19.1 documentation.url
Important Webpages/corenlp - npm.url
Important Webpages/Penn Treebank II tag set - CLiPS.url
Grid Regression Approach/gridRegression.py
Important Webpages/pattern.en - CLiPS.url
Important Webpages/Home - Documentation.url
Important Webpages/Stanford CoreNLP.url
SampleData/sampleSentencesReal4.txt
SampleData/sampleSentencesFake5.txt
SampleData/sampleSentencesFake3p3.txt
SampleData/sampleSentencesFake3.txt
SampleData/Key.txt
Server Operations/setPythonEnvironment.txt
SampleData/sampleSentencesReal4p2.txt
SampleData/sampleSentencesReal3.txt
SampleData/sampleSentencesFake4.txt
SampleData/sampleSentencesFake3p2.txt
testAccuracy.png
test2Accuracy.png
test1Accuracy.png
SampleData/testSentencesReal1.txt
SampleData/testSentencesFake1.txt
testingonly.pyc
test/client/README.md
scrubWebsite.js
test/node_modules/raw-body/README.md
test/node_modules/raw-body/LICENSE
test/node_modules/raw-body/HISTORY.md
test/node_modules/qs/test/utils.js
test/node_modules/qs/test/stringify.js
test/node_modules/qs/test/parse.js
test/node_modules/qs/test/.eslintrc
test/node_modules/debug/node.js
test/node_modules/debug/karma.conf.js
test/node_modules/debug/component.json
test/node_modules/debug/README.md
test/node_modules/debug/Makefile
test/node_modules/debug/LICENSE
test/node_modules/debug/CHANGELOG.md
test/node_modules/debug/.travis.yml
test/node_modules/bytes/LICENSE
test/node_modules/bytes/History.md
test/node_modules/body-parser/lib/types/urlencoded.js
test/node_modules/body-parser/lib/types/text.js
test/node_modules/body-parser/lib/types/raw.js
test/node_modules/body-parser/lib/types/json.js
test/node_modules/body-parser/lib/read.js
test/node_modules/body-parser/README.md
test/node_modules/body-parser/LICENSE
test/node_modules/body-parser/HISTORY.md
test/node_modules/qs/.eslintrc
test/node_modules/qs/.eslintignore
test/node_modules/qs/.editorconfig
test/node_modules/on-finished/README.md
test/node_modules/on-finished/LICENSE
test/node_modules/on-finished/HISTORY.md
test/node_modules/ms/readme.md
test/node_modules/ms/license.md
test/node_modules/mime-types/README.md
test/node_modules/mime-types/LICENSE
test/node_modules/mime-types/HISTORY.md
test/node_modules/mime-db/db.json
test/node_modules/mime-db/README.md
test/node_modules/mime-db/LICENSE
test/node_modules/media-typer/README.md
test/node_modules/media-typer/LICENSE
test/node_modules/media-typer/HISTORY.md
test/node_modules/inherits/inherits_browser.js
test/node_modules/inherits/inherits.js
test/node_modules/inherits/README.md
test/node_modules/inherits/LICENSE
test/node_modules/iconv-lite/lib/streams.js
test/node_modules/iconv-lite/lib/index.d.ts
test/node_modules/iconv-lite/lib/extend-node.js
test/node_modules/iconv-lite/lib/bom-handling.js
test/node_modules/iconv-lite/encodings/utf7.js
test/node_modules/iconv-lite/encodings/utf16.js
test/node_modules/iconv-lite/encodings/tables/shiftjis.json
test/node_modules/iconv-lite/encodings/tables/gbk-added.json
test/node_modules/iconv-lite/encodings/tables/gb18030-ranges.json
test/node_modules/iconv-lite/encodings/tables/eucjp.json
test/node_modules/iconv-lite/encodings/tables/cp950.json
test/node_modules/iconv-lite/encodings/tables/cp949.json
test/node_modules/iconv-lite/encodings/tables/cp936.json
test/node_modules/iconv-lite/encodings/tables/big5-added.json
test/node_modules/iconv-lite/encodings/sbcs-data.js
test/node_modules/iconv-lite/encodings/sbcs-data-generated.js
test/node_modules/iconv-lite/encodings/sbcs-codec.js
test/node_modules/iconv-lite/encodings/internal.js
test/node_modules/iconv-lite/encodings/dbcs-data.js
test/node_modules/iconv-lite/encodings/dbcs-codec.js
test/node_modules/iconv-lite/README.md
test/node_modules/iconv-lite/LICENSE
test/node_modules/iconv-lite/Changelog.md
test/node_modules/unpipe/README.md
test/node_modules/unpipe/LICENSE
test/node_modules/unpipe/HISTORY.md
test/node_modules/type-is/README.md
test/node_modules/type-is/LICENSE
test/node_modules/qs/lib/utils.js
test/node_modules/qs/lib/stringify.js
test/node_modules/qs/lib/parse.js
test/node_modules/qs/lib/formats.js
test/node_modules/qs/dist/qs.js
test/node_modules/qs/README.md
test/node_modules/qs/LICENSE
test/node_modules/qs/CHANGELOG.md
test/node_modules/debug/.npmignore
test/node_modules/debug/.eslintrc
test/node_modules/debug/.coveralls.yml
test/node_modules/content-type/README.md
test/node_modules/content-type/LICENSE
test/node_modules/content-type/HISTORY.md
test/node_modules/bytes/Readme.md
test/node_modules/type-is/HISTORY.md
test/node_modules/statuses/codes.json
test/node_modules/statuses/README.md
test/node_modules/statuses/LICENSE
test/node_modules/statuses/HISTORY.md
test/node_modules/setprototypeof/index.d.ts
test/node_modules/setprototypeof/README.md
test/node_modules/setprototypeof/LICENSE
test/node_modules/safer-buffer/tests.js
test/node_modules/safer-buffer/safer.js
test/node_modules/safer-buffer/dangerous.js
test/node_modules/safer-buffer/Readme.md
test/node_modules/safer-buffer/Porting-Buffer.md
test/node_modules/safer-buffer/LICENSE
test/node_modules/raw-body/index.d.ts
test/node_modules/iconv-lite/.travis.yml
test/node_modules/http-errors/README.md
test/node_modules/http-errors/LICENSE
test/node_modules/http-errors/HISTORY.md
test/node_modules/ee-first/README.md
test/node_modules/ee-first/LICENSE
test/node_modules/depd/lib/compat/event-listener-count.js
test/node_modules/depd/lib/compat/callsite-tostring.js
test/node_modules/depd/Readme.md
test/node_modules/depd/LICENSE
test/node_modules/depd/History.md
test/node_modules/debug/src/node.js
test/node_modules/debug/src/inspector-log.js
test/node_modules/debug/src/debug.js
test/node_modules/debug/src/browser.js
test/node_modules/mime-db/HISTORY.md
